<div class="form-container">
    <% if (typeof errors != 'undefined' && errors.length > 0) { %>
        <% errors.forEach(error => { %>
            <div class="alert alert-danger" role="alert">
                <%= error.msg %>
            </div>
        <% }) %>
    <% } %>
    <form method="post" action="/update-contact"> 
        <input type="hidden" name="id" value="<%= contact ? contact.id : '' %>" required>

        <h2 style="text-align: center;">Update Contact</h2>
        
        <div class="form-group">
            <label class="label" for="nama">Nama: </label>
            <input class="input-field" type="text" id="nama" name="nama" value="<%= contact ? contact.nama : '' %>" required>
        </div>
        <div class="form-group">
            <label class="label" for="telepon">Nomor Telepon: </label>
            <input class="input-field" type="tel" id="telepon" name="telepon" value="<%= contact ? contact.telepon : '' %>" required>
        </div>
        <div class="form-group">
            <label class="label" for="email">Email: </label>
            <input class="input-field" type="email" id="email" name="email" value="<%= contact ? contact.email : '' %>">
        </div>
        <div class="form-group">
            <label class="label" for="alamat">Alamat: </label>
            <input class="input-field" type="alamat" id="alamat" name="alamat" required value="<%= contact ? contact.alamat : '' %>">
        </div>
        
        <button class="back-button">
            <a href="/contact">Go Back</a>
        </button>
        <button class="update-button">Update</button>
    </form>
</div>